<nav class="navbar col-12 bg-dark" data-bs-theme="dark">
    <div class="container-fluid d-flex justify-content-between">

        <a class="navbar-brand" routerLink="admin"><strong>Admin</strong></a>
<div class="d-flex">
        <div class="nav-item me-4">
            <a class="nav-link active" routerLink="login">Login</a>
        </div>

        <div class="nav-item">
            <a class="nav-link active" routerLink="dashboard">Dashboard Panel</a>
        </div>
    </div>

    </div>
</nav>
    <div>
        <router-outlet></router-outlet>
    </div>
